
header{
background: #fceadc;
background: linear-gradient(343deg,rgba(252, 234, 220, 1) 1%, rgba(252, 230, 215, 1) 36%, rgba(237, 165, 83, 1) 82%);
box-shadow:0 2px 10px rgba(0,0,0,0.08);
border-radius: 20px;

position: sticky;
top:0;
z-index:1000;
}

.logo{
width: 0px;
text-decoration: none;
font-size: 25px;
margin-left: 40px;
font-weight:bold;
color:#09122f;
font-family: "Boldonse", system-ui;

}

.navbar{
padding-top: 100px;
height:650px;
background-image:url("pictures/bg.admin.jpg");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
color:rgba(0, 0, 0, 0.955);
text-align:center;
}
