* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1C1C1C;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #121212;
}

.logo {
    color: #FF6A00;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: #FF6A00;
}

.hero {
    text-align: center;
    padding: 150px 20px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background-color: #FF6A00;
    color: white;
    cursor: pointer;
}

.hero button:hover {
    background-color: #ff8533;
}