#login{
    text-align:center;
    margin-top: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}

#container
{
    margin-top: 210px;
    margin-left: 70px;
    margin-right: 70px;
    border: solid black;
    height: 240px;
    border-radius: 15px;
    background-color: rgba(108, 239, 195, 0.778);
}
#username{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: oklab(94.669% 0.00793 0.02995);
    font-family: 'Courier New', Courier, monospace;
     font-weight: bold black;
}
#password{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
     background-color: antiquewhite;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold black;
}

#btn{
    border-radius: 15px;
     background-color: oklab(88.068% -0.08039 -0.04127);
          font-family: 'Courier New', Courier, monospace;
          font-size: 30px;
}

body{
    background-color: oklch(91.501% 0.13038 169.036);
}









#content{
    background-color: rgb(235, 235, 235);
    height: 100px;
    width: 900px;
    border: black solid 1px;
    border-radius: 10px;

    margin-left: 205px;
    margin-top: -900px;
    
    padding-right: 260px;
    padding-bottom: 797px;

}



    
        
        <div>
            <img src="pr3.png" alt="motorcycle3" id = "pr3">
        </div>
 